.header{
    background-color: rgb(24, 134, 14);
    color: rgb(243, 141, 141);
    font-weight: 700;
    text-align: center;
    &__logo {
       
    }
    &__menu {
        &-item {
            
        }
    }
}
